/env
/local/__pycache__
*.mp4
.DS_Store
*.txt
*.__pycache__
*.pyc
*.aux
*.svg
*.tex
*.log
*.xdv
*.dvi
*.env
.venv
.venv_air
.venv_pro
media
media*/
simulator-1/simulation_results/*.json
.aider*

# Godot project cache/metadata
.godot/
*.gd.uid
*.jpg.import
*.svg.import
.editorconfig
.gitattributes

